body { font-family: Arial, sans-serif; margin: 20px; background-color: #000; color: #eee; }
table { border-collapse: collapse; width: 100%; }
th, td { border: 1px solid #ddd; padding: 8px; text-align: center; }
th { background-color: #f2f2f2; color: #444; }
a { color: #0ee; }

.pill-rounded, input {
  border-radius: 9999px; /* A massive value guarantees fully round ends */
  padding: 10px 24px;
  background-color: #0070f3;
  color: #ffffff;
  border: none;
  margin: 4px;
}
/*
.image-container { display: flex; flex-direction: column; align-items: center; }
*/
.image-container img { display: inline-block; width: 80px; height: 80px; max-width: 200px; max-height: 200px; margin: 5px;  }
.click-image { cursor: pointer; }
/*
.image-container img:hover { border: 2px solid #4CAF50; }
*/
.folder-header { font-weight: bold; background-color: #e0e0e0; }

.src-img { width: 80px; }

body.bgwhite { background-color: #fff; }

.main-container {
	margin: auto;
	width: fit-content;
}

.form-hidden { display: none; }

.form-table {
	width: auto;
}
.form-table td {
	border: 0px;
}
.form-table td:nth-child(1) {
	text-align: right;
}

/*********/

.prompt {
	width: 80vw;
	height: 30vh;
}

.transparency_range_input {
}

.postprocess .clean_icons {
	display: none;
}


/*********/

.done_comfy {
	display: none;
}
.waiting_comfy {
	display: inline-block;
}
.no_comfy .done_comfy {
	display: inline-block;
}
.no_comfy .waiting_comfy {
	display: none;
}


/*********/

.loader-container {
	width: 50px;
	height: 50px;
	padding: 25px;
	margin: auto;
}
.loader {
  display: block;
  --color-1: #fff;
  --size: 1px;

  width: calc(32 * var(--size));
  height: calc(32 * var(--size));
  transform: translateY(100%);
  border-radius: 50%;
  background: var(--color-1);
  position: relative;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--color-1);
  left: 50%;
  transform: translateX(-50%);
  top: -200%;
}
.loader:after {
  animation: moveX 0.5s infinite linear alternate;
}

@keyframes moveX {
  0% {
    top: 0%;
    transform: translateX(-50%) scale(1.5);
  }
  50% {
    top: -75%;
    transform: translateX(-50%) scale(0.5);
  }
  100% {
    top: -200%;
    transform: translateX(-50%) scale(1.5);
  }
}

